div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;   /* We'll override height later */
  background-color: teal;
}

.axis path,
.axis line {
    stroke: teal;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Optima, Futura, sans-serif;
    font-weight: bold;
    font-size: 14px;
    fill: teal;
}